# files to remove
qdrant_storage/
qdrant_storage/*
.vscode/
.vscode/*
__pycache__/
__pycache__/*
.idea/
.idea/*
.ipynb_checkpoints/
.ipynb_checkpoints/*
.env
*.*.xlsx:Zone.Identifier

*.*.xls:Zone.Identifier

.~lock.*.*.xlsx#



